::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #020618;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #020618;
}
