@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: rgba(0, 234, 255, 0.2);
  --color-accent-light: #00eaff;
  --font-orbitron: 'Orbitron', sans-serif;
}

body {
  color: #ffffff;
  @apply font-orbitron;
}
